<p>{{teste}}</p>
<button [attr.aria-label]="idButton"></button> <!--ACESSANDO O ATRIBUTO E PASSANDO O VALOR DINAMICAMENTE-->
<button (click)="submit()">Clique aqui!</button>

<!--COMO ERA FEITO ANTIGAMENTE - diretivas do Angular-->
<h1 *ngIf="deveMostrarTitulo">true</h1>

<!--COMO É FEITO ATUALMENTE-->
@if(deveMostrarTitulo) {
    <h1>true</h1>
} @else {
    <h1>false</h1>
}

<!--MODO ANTIGO DE UTILIZAR O FOR-->
<p *ngFor="let item of items">{{item}}</p>

@for (item of items; track $index) {
    <p>{{item}}</p>
}

<!-- <h1>{{ teste2 }}</h1> -->